<div class="col-md-4">
  <div class="thumbnail">
    <div class="stock-name">
      <%= stock.name %>
    </div>
    <div class="stock-symbol">
      (<%= stock.ticker %>)
    </div>
    <div class="stock-price">
      Last Price: $<%= stock.updated_last_price %>
    </div>
    <% if current_user.id == user.id %>
    <div align="center", style="margin:15px">
      <%= link_to "Untrack Stock", 
        user_stock_path(stock, display_style: params[:display_style]), 
        method: :delete, 
        remote: true,
        data: {confirm: "Are you sure you want to stop tracking #{stock.ticker}?"},
        class: "btn btn-md btn-danger"%>
    </div>
    <% end %>
  </div>
</div>