/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */
 .stock-search-results {
   font-size: 1.2em;
 }

 .align-right {
   float:right;
 }

 .stock-name {
   text-align: center;
   font-weight: 600;
   color: darkslategray;
   font-size: 1.4em;
   margin: 5px;
 }

 .stock-symbol {
  text-align: center;
  font-weight: 400;
  color: slategray;
  font-size: 1.2em;
  margin: 5px;
}

.stock-price {
  text-align: center;
  font-weight: 300;
  color: darkslategray;
  font-size: 1.3em;
  margin: 5px;
}
